
.filters {
	color: #777;
	margin-top: -35px;
    padding: 0px;
    list-style: none;
    position: relative;
    justify-content: center;
    display: flex;
}



.filters li {
	display: inline;
	
}

.btn {
	cursor: pointer;
	color: inherit;
	margin: 3px;
	padding: 3px 7px;
	text-decoration: none;
	border: 1px solid transparent;
	border-radius: 3px;
}

.btn:hover {
	border-color: rgba(207, 39, 39, 0.2);
}

.btn.selected {
	border-color: rgba(175, 47, 47, 0.2);
}


